#erro-modal{
  background-color: white;
  margin: -100px;
  margin-top: 0;
  text-align: center;
  opacity: 0.75;
}

#erro-modal li a{
  text-decoration: none;
}

#botao{
  padding-left: 38px;
  padding-right: 38px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th{
	height: 30px;
	font-size: 17px;
}

table{
	width: 50%;
}

td{
	height:50px;
}

#btn{
	border: none;
}
