#erro-modal{
  background-color: white;
  margin: -100px;
  margin-top: 0;
  text-align: center;
  opacity: 0.75;
}

#erro-modal li a{
  text-decoration: none;
}

#botao{
  padding-left: 38px;
  padding-right: 38px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th{
	height: 30px;
	font-size: 17px;
}

table{
	width: 50%;
}

td{
	height:50px;
}

#btn{
	border: none;
}

#danger{
	background-color: red;
}

#warning{
	background-color: yellow;
}

#all-right{
	background-color: green;
}

#image{
	max-width: 900px;
	max-height: 900px;
	width: 150px;
	height: 150px;
	padding: 15px;
}

#linha{
	margin-top: 50px;
}


#data{
	border-style: solid;
	border-color: black;
	height: 25px;
}

#data2{
	border-style: solid;
	border-color: black;
	padding-right: 10px;
}

#data3{
	margin-top: 25px;
}
